@import 'tailwindcss';

:root {
    --background: #f7f7f5;
    --background-hover: #e9e9e6;
    --foreground: #f7f7f5;
    --action: #def186;
    --primary: #1f1e30;
    --primaryHover: #2c2b45;
    --productBlue: #dbebf4;
    --homeText: #c0c0c0;
}

@theme inline {
    --color-background: var(--background);
    --color-background-hover: var(--background-hover);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primaryHover: var(--primaryHover);
    --color-action: var(--action);
    --color-productBlue: var(--productBlue);
    --color-homeText: var(--homeText);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #f7f7f5;
        --background-hover: #e9e9e6;
        --foreground: #f7f7f5;
        --action: #def186;
        --primary: #1f1e30;
        --primaryHover: #2c2b45;
        --productBlue: #e2f1f9;
        --homeText: #c0c0c0;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--primary);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.button {
    color: var(--primary);
    background-color: var(--action);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #c9e074;
}

.button-primary {
    background-color: var(--primary);
    color: var(--foreground);
}

.button-primary:hover {
    background-color: var(--primaryHover);
}

.button-primary:disabled {
    background-color: #40405a;
}

.hover {
    background-color: var(--color-gray-400);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
