@import "tailwindcss";

:root {
    --background: #f7f7f5;
    --foreground: #f7f7f5;
    --action: #DEF186;
    --primary: #1F1E30;
    --primaryHover: #2C2B45;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primaryHover: var(--primaryHover);
    --color-action: var(--action);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #f7f7f5;
        --foreground: #f7f7f5;
        --action: #DEF186;
        --primary: #1F1E30;
        --primaryHover: #2C2B45;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, Arial, Helvetica, sans-serif;
}


.link {
    color: var(--foreground);
}

.link:hover {
    color: var(--color-gray-400);
}

.button {
    color: var(--primary);
    background-color: var(--action);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #c9e074;
}

.button-primary {
    background-color: var(--primary);
    color: var(--foreground);
}

.button-primary:hover {
    background-color: var(--primaryHover);
}

.button-primary:disabled {
    background-color: #40405A;
}

.hover {
    background-color: var(--color-gray-400);
}
